.is-dark-green {
    background-color: #1F6138;
}

.navbar.has-shadow {
    box-shadow: none;
}

.navbar-item {
    color: #fff;
}

.navbar-end>a.navbar-item:hover,
.navbar-end>a.navbar-item:focus {
    background: #3abb67;
    color: #fff;
}

/* clean up margin overflow on mobile */
.columns {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

/* added spacing on larger screens for white space and readability */
.welcomesection {
    padding-top: 5rem;
}


/* INTERSECTION OBSERVER START */
/* top sections fade in on scroll (most likely will appear immediately) */
.topsections {
    opacity: 0;
    transition: opacity 1000ms ease-in;
}

.topsections.appear {
    opacity: 1;
}

/* tab section will slide and fade in from left on scroll */
.from-left {
    opacity: 0;
    transform: translateX(-50%);
    transition: transform 1000ms ease-in, opacity 1000ms ease-in;
}

.from-left.appear {
    transform: translateX(0);
    opacity: 1;
}
/* INTERSECTION OBSERVER END */


/* make smoother transition for figure box on screen size change */
figure {
    margin: 0 auto;
    transition: all .3s linear;
}

/* make contact box light success green */
.column.contact.is-three-fifths.is-offset-one-fifth {
    background: #3abb67;
}

/* make contact info section have less padding */
.selfsection {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* make list items readable */
ul.is-flex li a {
    color: #fff;
}
 
/* make contact links pop out more like a button */
.selflinks ul li {
    background-color: #1F6138;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    line-height: 1.5;
    padding: .25rem .38rem;
    transition: all .3s linear;
}

/* add hover to contact buttons */
.selflinks ul li:hover, 
.selflinks ul li:focus {
    background: #3abb67;
}

.tabs ul {
    border-color: #1F6138;
}

.tabs.is-boxed li.is-active a {
    border-color: #1F6138;
    color: #1F6138 !important;
}

.tabs.is-boxed a:hover,
.tabs.is-boxed a:focus {
    background: #1F6138;
    color: #fff !important; 
}

/* add hover to card buttons to resemble top links */
.card-footer-item a {
    background-color: #1F6138;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    line-height: 1.5;
    padding: .5rem .75rem;
    transition: all .3s linear;
}

.card-footer-item a:hover,
.card-footer-item a:focus {
    background: #3abb67;
}


/* MEDIA QUERIES */
/* adjust spacing and font size for polished mobile UI */
@media all and (max-width: 450px) {
    .welcomesection {
        padding-top: 3rem;
    }

    ul.is-flex li a {
        font-size: 12px;
    }

    .columns > .column > .columns > .column {
        padding: 0;
    }

    .selflinks {
        padding: 0 !important;
    }

    .selfsection {
        padding: 0;
    }

    .is-mobile > .selfsection > .column {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    /* making selfie smaller adds to mobile responsiveness */
    .selfimage {
        width: 128px;
    }
}

@media all and (max-width: 320px) {
    .selfimage {
        width: 96px;
    }

    ul.is-flex li a {
        font-size: 10px;
    }
}

@media all and (max-width: 768px) {
    a.navbar-item {
        margin-right: .5rem;
    }
    
    a.navbar-item:hover, 
    a.navbar-item:focus {
        background-color: #48c774;
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
    }
}

/* image can be larger for non-mobile devices */
@media all and (min-width: 768px) {
    .selfimage {
        width: 256px;
    }

    /* increase UL box for list items to be closer to top and bottom of image */
    ul.is-flex.is-flex-direction-column {
        height: 200px;
    }

    ul.is-flex li {
        margin: 0; 
    }

    ul.is-flex li a {
        font-size: 20px;
    }
}